<!-- <p id="notice"><%= notice %></p> -->
<!-- <% @hosts.each do |host| %>
  <% if host.user == current_user %>
    <div class="container col-md-6 mx-auto">
      <div id="host-card-body" class="card">
        <h1 id="host-card-header" class="card-header"><%= host.name %></h1>
        <%=  image_tag(host.image_url, class:"card-img-top mx-auto") %>
        <div id="host-card-text" class="card-text">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Email: <%= host.user.email %></li>
            <li class="list-group-item">Location: <%= host.location %></li>
            <li class="list-group-item"><%= link_to 'Edit', edit_host_path(host) %></li>
            <li class="list-group-item"><%= link_to 'Back', root_path %></li>
          </ul>
        </div>
      </div>
    </div>
  <% else %>
  <% end %>
<% end %> -->
<h1>Your Host Profile</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @hosts.each do |host| %>
        <td><%= host.name %></td>
        <td><%= host.location %></td>
        <td><%= link_to 'Show', host %></td>
        <td><%= link_to 'Edit', edit_host_path(host) %></td>
        <td><%= link_to 'Destroy', host, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
