<% @hosts.each do |host| %>
  <% if host.user == current_user %>
    <div class="container">
      <div id="host-card-body" class="card mx-auto">
        <h1 id="host-card-header" class="card-header"><%= host.name %></h1>
        <br>
        <%=  image_tag(host.image_url, class:"card-img-top mx-auto") %>
        <div id="host-card-text" class="card-text">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Email: <%= host.user.email %></li>
            <li class="list-group-item">Location: <%= host.location %></li>
            <li class="list-group-item"><%= link_to 'Edit', edit_host_path(host) %></li>
            <li class="list-group-item"><%= link_to 'Back', root_path %></li>
          </ul>
        </div>
      </div>
    </div>
  <% else %>
  <% end %>
<% end %>

<!-- <% @hosts.each_slice(3) do |hosts| %>
  <div class="row">
    <% hosts.each do |host| %>
      <div class="col-md-4">
        <div class="item">
          <div class="card">
          <h3 class="card-header text-center"><%= host.name %></h3>
          <br>
            <div class="card-img">
              <%= link_to image_tag(host.image_url, class:"card-img-top"),host_path(host) %>
            </div>
            <div class="card-body">
            </div>
            <ul class="list-group list-group-flush text-center">
              <% if host.user == current_user %>
                <%= link_to 'Edit', edit_host_path(host), class:"list-group-item" %>
                <%= link_to 'Back', root_path, class:"list-group-item" %>
              <% else %>
                <%= link_to 'Back', root_path, class:"list-group-item" %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %> -->
