<div class="card mx-auto" style="width: 18rem;">
  <div class="card-body">
    <p id="notice"><%= notice %></p>

    <p id="hostimage">
      <%= image_tag(@host.image_url, width: "80%", height:"50%")%>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @host.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= current_user.email %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @host.location %>
    </p>


    <!-- <p>
      <strong>User:</strong>
      <%= @host.user %>
    </p> -->

    <%= link_to 'Edit', edit_host_path(@host), class:"btn btn-primary" %> |
    <%= link_to 'Back', hosts_path, class:"btn btn-primary" %>
  </div>
</div>
