<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @booking.host.name %>
</p>

<p>
  <strong>Dj:</strong>
  <%= @booking.dj.name %>
</p>

<%= link_to 'Edit', edit_dj_booking_path(@dj) %> |
<%= link_to 'Back', dj_bookings_path(@dj) %>
