<% @djs.each_slice(3) do |djs| %>
  <div class="row">
    <% djs.each do |dj| %>
      <div class="col-md-4">
        <div class="item">
          <div class="card">
          <h3 id="dj-card-header" class="card-header"><%= dj.name %></h3>
          <br>
            <div class="card-img">
              <%= link_to image_tag(dj.image_url, class:"card-img-top"),dj_path(dj) %>
            </div>
            <div class="card-body">
            </div>
            <ul class="list-group list-group-flush text-center">
              <% if dj.user == current_user %>
                <%= link_to 'Upload',  new_dj_song_path(dj), class:"list-group-item" %>
                <%= link_to 'Bookings',  dj_bookings_path(dj),  class:"list-group-item" %>
                <%= link_to 'Edit', edit_dj_path(dj), class:"list-group-item"  %>
                <%= link_to 'Destroy', dj, method: :delete, data: { confirm: 'Are you sure?' }, class:"list-group-item" %>
              <% else %>
                <%= link_to 'Uploads',  dj_songs_path(dj), class:"list-group-item" %>
                <%= link_to 'Book',  new_dj_booking_path(dj),class:"list-group-item" %>
                <%= link_to 'Reviews', dj_reviews_path(dj), class:"list-group-item" %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
