<% @djs.each_slice(3) do |djs| %>
  <div class="row">
    <% djs.each do |dj| %>
      <div id="dj-row" class="col-md-4">
        <div class="text-center">
          <ul class="list-unstyled">
            <div class="card">
              <li class="card-body">
                <h3><%= dj.name %></h3>
                <%=  image_tag(dj.image_url, class:"card-img-top") %>
                <br>
                <br>
              <p>Location:<br><%= dj.location %></p>
              <p>Rate:<br>$<%= dj.rate %>0/hr</p>
                <!-- <%= audio_tag dj.audio_url,:autoplay=>false,:controls => true, class:"mx-auto d-block" unless dj.audio.blank? %> -->
                <br>
                <%= link_to 'View Profile', dj, class:"btn btn-primary" %>
                <br>
                <br>
                <% if dj.user == current_user %>
                  <%= link_to 'Edit', edit_dj_path(dj), class:"btn btn-primary" %>
                  <br>
                  <br>
                  <%= link_to 'Destroy', dj, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %>
                <% end %>
              </li>
            </div>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<!-- <% @djs.each do |dj| %> -->
<!-- <% end %> -->
<!-- <p id="notice"><%= notice %></p> -->
<!-- <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th>Name</th> -->
<!-- <th>Description</th> -->
<!-- <th>Location</th> -->
<!-- <th>Portfolio</th> -->
<!-- <th>Rate</th> -->
<!-- <th>Demo</th> -->
<!-- <th>Image</th> -->
<!-- <th>Dj check</th> -->
<!-- <th>User</th> -->
<!-- <th colspan="3"></th>
    </tr>
  </thead> -->
<!-- <tbody>
    <% @djs.each do |dj| %>
      <tr>
        <td><%= dj.name %></td> -->
<!-- <td><%= dj.description %></td> -->
<!-- <td><%= dj.location %></td> -->
<!-- <td><%= dj.portfolio %></td> -->
<!-- <td>$<%= dj.rate %></td> -->
<!-- <td><%= audio_tag dj.audio_url,:autoplay=>false,:controls => true unless dj.audio.blank? %></td> -->
<!-- <td><%= link_to 'View Profile', dj, class:"btn btn-primary" %></td>
        <% if dj.user == current_user %>
        <td><%= link_to 'Edit', edit_dj_path(dj), class:"btn btn-primary" %></td>
        <td><%= link_to 'Destroy', dj, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table> -->
