<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dj.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dj.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @dj.location %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @dj.portfolio %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @dj.rate %>
</p>

<p>
  <strong>Image:</strong>
  <br><br>
  <%= image_tag(@dj.image_url, width: "30%", height:"30%")%>
</p>

<p>
  <% @dj.dj_check %>
</p>


<%= link_to 'Edit', edit_dj_path(@dj) %> |
<%= link_to 'Back', djs_path %>
