<div class="card mx-auto" style="width: 45rem;">
  <% @djs.each do |dj| %>
    <div id="<%= dj.id%>">
      <div class="card-body">
        <h1 id="dj-card-title" class="card-title"><%= dj.name %></h1>
        <div id="dj-card-text" class="card-text">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <%= image_tag(dj.image_url, width: "40%", height:"40%")%>
            </li>
            <li class="list-group-item">Description: <%= dj.description %></li>
            <li class="list-group-item">Location: <%= dj.location %></li>
            <li class="list-group-item">Portfolio: <%= dj.portfolio %></li>
            <li class="list-group-item">Rate: $<%= dj.rate %> per hour</li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
