  <div class="container">
    <div class="row">
      <% @djs.each do |dj| %>
        <div class="col-lg-4">
          <div class="card h-100">
            <%= image_tag dj.image_url, class:"card-img-top", size: '800x200' %>
            <div id="dj-card-body" class="card-body">
              <h1 id="dj-card-header" class="card-header"><%= dj.name %></h1>
              <div id="dj-card-text" class="card-text">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Description: <%= dj.description %></li>
                  <li class="list-group-item">Location: <%= dj.location %></li>
                  <li class="list-group-item">Portfolio: <%= dj.portfolio %></li>
                  
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
