<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div id="dj-card-body" class="card-body">
        <h1 id="dj-card-header" class="card-header"><%= @dj.name %></h1>
        <%=  image_tag(@song.image_url, class:"card-img-top") %>
        <div id="dj-card-text" class="card-text">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Title: <%= @song.title %></li>
            <li class="list-group-item">Genre: <%= @song.genre %></li>
            <li class="list-group-item">Description: <%= @song.description %></li>
          <li class="list-group-item"><%= audio_tag @song.audio_url,:autoplay=>false,:controls => true unless @song.audio.blank? %></li>
          <% if @dj.user == current_user %>
            <li class="list-group-item"><%= link_to 'Edit', edit_dj_song_path(@dj) %></li>
            <li class="list-group-item"><%= link_to 'Back', dj_songs_path(@dj) %></li>
          <% else %>
            <li class="list-group-item"><%= link_to 'Back', dj_songs_path(@dj) %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
