<h1>Reviews</h1>

<table class="table">
  <thead>
    <tr>
      <th>Rating</th>
      <th>Reviewed by</th>
      <th>Review for</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.rating %></td>
        <td><%= review.host.name %></td>
        <td><%= review.dj.name %></td>
        <td><%= link_to 'Show', dj_review_path(@dj,review) %></td>
        <td><%= link_to 'Edit', edit_dj_review_path(@dj,review) %></td>
        <td><%= link_to 'Destroy', dj_review_path(@dj,review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_dj_review_path %>
