
<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Reviewed by:</strong>
  <%= @review.host.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Review for:</strong>
  <%= @review.dj.name %>
</p>

<%= link_to 'Back', dj_reviews_path %>
