<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @review.description %>
</p>

<p>
  <strong>Host:</strong>
  <%= @review.host %>
</p>

<p>
  <strong>Dj:</strong>
  <%= @review.dj %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
