<div class="card mx-auto" style="width: 25rem;">
  <div class="card-body">
    <ul class="list-group list-group-flush text-center">
      <h3 id="dj-card-header" class="card-header">Review</h3>
        <ul class="list-group-item">Rating: <%= @review.rating %></ul>
        <ul class="list-group-item">Reviewed by: <%= @review.host.name %></ul>
        <ul class="list-group-item">Comment: <%= @review.comment %></ul>
        <ul class="list-group-item">Review for: <%= @review.dj.name %></ul>
      <%= link_to 'Back', dj_reviews_path,class:"list-group-item" %>
    </ul>
  </div>
</div>
