<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <div class="dj">
      <div class="card-dj">
        <div class="card-body">
          <p>
            <strong>dj Name:</strong>
            <%= @dj.name %>
          </p>
          <p>
            <strong>Description:</strong>
            <%= @dj.description %>
          </p>
          <label class="amount">
            <strong>rate:</strong>
            <span>$<%= @dj.rate %>0</span>
          </label>
          <p>
            <strong>
              <%= image_tag(@dj.image_url, width: "30%", height:"30%")%>
            </strong>
            <br><br>
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.application.credentials.stripe[:stripe_publishable_key] %>"
              data-amount="<%= (@dj.rate) * 100 %>"
              data-name="AndrewPDev"
              data-description="Check Out"
              data-image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUdH2c5YiqpixbjFEWNOyKxS8Ev2Hw-xHELVWqDiGbeBcUS_9x"
              data-locale="auto"
              data-currency="aud"></script>
              <%= hidden_field_tag :rate, @dj.rate %>
          </div>
        </div>
      </div>
    </article>
  <% end %>
