<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"> <img class="logo" src="" height="40">Temp-Oh</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
      </li> -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" data-toggle="dropdown">  Browse </a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Home', root_path,class:"dropdown-item" %></li>
          <li><%= link_to 'DJ List', djs_path,class:"dropdown-item" %></li>
        </ul>
      </li> -->
      <li class="nav-item">
        <%= link_to 'Home', root_path,class:"btn ml-4 btn-primary" %>
        <%= link_to 'DJ List', djs_path,class:"btn ml-4 btn-info" %>
        <% if user_signed_in? %>
          <!-- <a class="btn ml-2 btn-warning" href="">Test</a></li> -->
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"btn ml-2 btn-warning" %>
        <% else %>
          <%= link_to 'Sign Up', new_user_registration_path,class:"btn ml-4 btn-warning" %>
          <%= link_to 'Log In', new_user_session_path,class:"btn ml-4 btn-success" %>
        <% end %>
      </ul>
    </div>
  </nav>
